.services__arrow-down {
  width: 32px;
  height: 39px;
  background-image: url(../../../images/services__arrow-black-2.svg);
  background-repeat: no-repeat;
  position: absolute;
  rotate: 57deg;
  top: 30px;
  right: 20px;
}
